
{% extends "base.html" %}
{% load static %} 
{% block title %} Product details {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <img src="{% static 'images/rose-removebg-preview.png' %}"  alt="product" id="product-img" >
    <h2 id="product-title"><b>Product title here.</b></h2>
    <h4 id="product-description">Product description here.</h4>
    <div id="price">price here</div>
    <button id="cart"> <a href="{% url 'cart' %}"> Add to cart</a> </button>
    <button id="customization"><a href="{% url 'customization' %}">Customize</a></button>
 </div>
{% endblock %}
